<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.igns.business.eqp.dao.postgre.Eqp0020Dao">
        

    
    <select id="getEqp0020grd" parameterType="kr.co.igns.business.eqp.model.eqp0020.Eqp0020Dto" 
    					resultType="kr.co.igns.business.eqp.model.eqp0020.Eqp0020VO">
		select *
		from eqp0031 as a
		
			<where>
			
			<if test="comCode != null and comCode != ''">
				<![CDATA[
					AND a.com_code = #{comCode}					
				]]>
			</if>
			<if test="facCode != null and facCode != ''">
				<![CDATA[
					AND a.fac_code = #{facCode}
				]]>
			</if>
			<if test="eqInsType != null and eqInsType != ''" >
				<![CDATA[
					AND a.eq_ins_type = #{eqInsType}
				]]>
			</if>
			<if test="eqCode != null and eqCode != ''">
				<![CDATA[
					AND a.eq_code = #{eqCode}
				]]>
			</if>
			<if test="eqInspNo != null and eqInspNo != ''">
				<![CDATA[
					AND a.eq_insp_no = #{eqInspNo}
				]]>
			</if>
			<if test="eqInsCode != null and eqInsCode != ''">
				<![CDATA[
					AND a.eq_ins_code = #{eqInsCode}
				]]>
				
			</if>
			<if test="userFlag != null and userFlag != ''">
				<![CDATA[
					AND a.user_flag = #{userFlag}					
				]]>
			</if>
		</where>
    </select>   
    
    
    
    
    
    <insert id="createEqp0020" parameterType="kr.co.igns.business.eqp.model.eqp0020.Eqp0020VO">
    		INSERT INTO public.eqp0031
			(com_code, fac_code, eq_ins_type, 
			  eq_code, eq_insp_no, eq_ins_code, 
			  ins_type, ins_meth, jug_code, 
			  ins_unit, ins_base, ins_upp, 
			  ins_low, remark, user_flag,
			  make_date, maker)
			 VALUES(#{comCode}, #{facCode}, #{eqInsType}, 
				    #{eqCode},  #{eqInspNo}, #{eqInsCode}, 
				    #{insType},  #{insMeth},  #{jugCode}, 
				    #{insUnit},  #{insBase}, #{insUpp}, 
				    #{insLow},  #{remark}, #{userFlag},
				    now(),  #{maker});
    </insert>
    
    <update id="updateEqp0020" parameterType="kr.co.igns.business.eqp.model.eqp0020.Eqp0020VO">
   	UPDATE public.eqp0031
	SET 
	ins_type=#{insType},
	ins_meth=#{insMeth},
	jug_code=#{jugCode},
	ins_unit=#{insUnit},
	ins_base=#{insBase},
	ins_upp=#{insUpp},
	ins_low=#{insLow},
	remark=#{remark},
	user_flag=#{userFlag},
	edit_date=now(),
	editor=#{editor}
	
	WHERE com_code=#{comCode} 
	AND fac_code=#{facCode} 
	AND eq_ins_type=#{eqInsType} 
	AND eq_code=#{eqCode} 
	AND eq_insp_no=#{eqInspNo} 
	AND eq_ins_code=#{eqInsCode}
	

   
    </update>
    
     <delete id="deleteEqp0020" parameterType="kr.co.igns.business.eqp.model.eqp0020.Eqp0020VO">
    DELETE FROM public.eqp0031 as a
<where>
			

					AND a.com_code = #{comCode}					
		
					AND a.fac_code = #{facCode}
	
					AND a.eq_ins_type = #{eqInsType}
		
					AND a.eq_code = #{eqCode}
		
			
					AND a.eq_insp_no = #{eqInspNo}
		
	
					AND a.eq_ins_code = #{eqInsCode}
		
				
				
			
		</where>
    </delete>

  
    
    
    

     
</mapper>